<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap desktop">
  <Identity Name="CleanMachine" Publisher="CN=CleanMachine Publisher" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CleanMachine</DisplayName>
    <PublisherDisplayName>CleanMachine contributors</PublisherDisplayName>
    <Description>Private, review-first Windows cleanup utility.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources><Resource Language="en-us" /></Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements AppListEntry="default" DisplayName="CleanMachine" Description="Private, review-first Windows cleanup utility." Square44x44Logo="Assets\Square44x44Logo.png" Square150x150Logo="Assets\Square150x150Logo.png" BackgroundColor="#173C35" />
      <Extensions><desktop:Extension Category="windows.fullTrustProcess" Executable="$targetnametoken$.exe" /></Extensions>
    </Application>
  </Applications>
</Package>
